@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #6F7285;
    display: flex; 
    flex-direction: column;
    margin: auto;
    background: #fff;
    padding: 20px;
    max-width: 400px;
}

h3{
    color:#16171A;
}

div#logo{
    display: flex; 
    flex-direction: row;
    justify-content: center;
    margin: 3rem;
    padding-right: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    color: #6F7285;
    border: none;
    height: 48px;
    padding: 0px 16px;
    border-radius: 10px;
    background: #F5F5F9;
    width: auto;
    font-size: 16px;
}



input::placeholder {
    font-size: 14px;
    color: #9DA1B1;
    opacity: 1; /* Firefox */
}

/* ---- AutoFill Background Color Override ---- */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #F5F5F9 inset !important;
}

/* ---- AutoFill Text Color Override ---- */
input:-webkit-autofill{
    -webkit-text-fill-color: #6F7285 !important;
}


button {
    background: #16171A;
    color: #ffffff;
    border: none;
    border-radius: 12px;    
    height: 48px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    transition: 0.1s ease-in-out 0s;
}


div#resBox {
    margin-top: 2.5rem;
    border: none;
    background-color: #F5F5F9;
    border-radius: 1rem;
    padding: 1rem;
}

a{
   color: #DF0F50 
}

a#butt {
    font-size: 14px;
    color: #484B62;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 48px;
    font-weight: 500;
    text-decoration: none;
    margin-top: 12px;
    color:#484B62;
    background-color:#F5F5F9;
    border-radius: 12px;
    transition: 0.3s ease-in-out 0s;
}


a#butt:hover{
    background-color: #E6E7EF;
}

div#results{
    margin-bottom: 2rem;
}
